<div class = "col-xs-3">
	<div class = "side-bar">
		<p class="info">More Information</p>
		<p><a href="http://www.miamidade.gov/permits/" class="govsite">Find a Permit - Miami-Dade</a></p>
		<p><a href="http://www.miamidade.gov/economy/contact.asp">Miami-Dade Permits and Inspection Center</a></p>
		<p><a href="http://www.miamidade.gov/permits/library/building-permit.pdf">Building Permit Categories</a></p>
	</div>
</div>

<div class = "col-xs-.9">
</div>

<div class="col-xs-6">
  <table>
  <tr>
  <th>Checkbox</th>
  <th>Code</th>
  <th>Description</th>
  <th>Average</th>
  </tr>
  <% @business.category_averages.each do |category_average| %>
  	<tr>
  	  <div class = "col-xs-1">
  	    <td><input type="checkbox" class="total" data-average="<%= category_average.last.to_f %>"></td>
  	  </div>
  	  <div class = "col-xs-2">
  	  <td><%= category_average.first %></td>
  	  </div>
  	  <div class = "col-xs-3">
  	  <td><%= CategoryCode[category_average.first] %></td>
  	  </div>
  	  <div class = "col-xs-3">
  	  <td><%= number_to_currency category_average.last %></td>
  	  </div>
  	</tr>
  <% end %>
  </table>
   <br>   
   <br>   
  <button type="button" class="btn btn-default pull-right">
  <%= link_to "CALCULATE" %>
  </button>
  <span id="output"></span>
  <br>
  <br>
  <br>
</div>
