<!DOCTYPE html>
<html>
<head>
	<title>Mips</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= yield %>

</body>
</html>
